:root {
    --black: #333333;
    --white: #FFFFFF;

    --logo-width: 68px;
    --logo-height: 40px;
    --header-link: 18px;
    --footer-link: 24px;
    --title: 60px;
    --text: 24px;
    --input: 20px;
    --button: 26px;
    --error: 18px;
    --modal-form-text: 28px;
    --input-padding: 16px 40px;
    --button-padding: 10px 40px;

    --transition: all .25s ease-in-out;

    --container-width: 1180px;
    --container-offset: 20px;

    --hover-opacity: .75;

    --radius: 12px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

html {
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
    background-color: var(--white);
    position: relative;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.scroll-disabled {
    overflow: hidden;
}

.container {
    max-width: calc(1180px + 20px * 2);
    max-width: calc(var(--container-width) + var(--container-offset) * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    padding: 0 var(--container-offset);
}

.header {
    position: sticky;
    top: 0;
    background-color: #333333;
    background-color: var(--black);
    color: #FFFFFF;
    color: var(--white);
    padding: 16px 0;

    z-index: 10;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo,
.footer__logo {
    width: 68px;
    width: var(--logo-width);
    height: 40px;
    height: var(--logo-height);
}

.header__logo a,
.footer__logo a {
    color: inherit;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.header__logo a:hover,
.footer__logo a:hover {
    opacity: .75;
    opacity: var(--hover-opacity);
}

.header__logo svg {
    width: 100%;
    height: 100%;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;

    list-style: none;
}

.header__item {
    max-width: 224px;
    text-align: center;
}

.header__link {
    color: #FFFFFF;
    color: var(--white);
    font-size: 18px;
    font-size: var(--header-link);
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    line-height: normal;
}

.header__link:hover {
    opacity: .75;
    opacity: var(--hover-opacity);
}

.header__burger {
    display: none;
    width: 30px;
    height: 20px;
    border: 0;
    background-color: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer;
    outline: none;
}

.header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    background-color: var(--white);
    border-radius: 4px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.header__burger span:first-child {
    top: 0;
}

.header__burger span:last-child {
    bottom: 0;
}

.header__burger:hover span {
    background-color: #c0c0c0;
}

.header__burger-active span:nth-child(2) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
}

.header__burger-active span:first-child {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
}

.header__burger-active span:last-child {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
}

.connect {
    margin: 108px 0;
}

.connect__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr -12px 2fr;
    grid-template-columns: 3fr 2fr;
    grid-gap: -12px;
    gap: -12px
}

.connect__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.connect__title {
    font-size: 60px;
    font-size: var(--title);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.connect__text {
    font-size: 24px;
    font-size: var(--text);
    font-weight: 300;
    line-height: normal;
    margin-bottom: 36px;
    max-width: 460px
}

.connect__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.connect__inputs label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
}

.connect__input {
    max-width: 552px;
    width: 100%;
    padding: 16px 40px;
    padding: var(--input-padding);
    font-size: 20px;
    font-size: var(--input);
    border-radius: 12px;
    border-radius: var(--radius);
    border: 2px solid #999;

    -webkit-transition: all .25s ease-in-out;

    transition: all .25s ease-in-out;

    -webkit-transition: var(--transition);

    transition: var(--transition);
}

.connect__input:hover {
    border: 2px solid #333333;
    border: 2px solid var(--black);
}

.connect__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 0;
    background-color: #333333;
    background-color: var(--black);
    color: #FFFFFF;
    color: var(--white);
    padding: 10px 40px;
    padding: var(--button-padding);
    border-radius: 12px;
    border-radius: var(--radius);
    font-size: 26px;
    font-size: var(--button);

    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.connect__button:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.connect__button:active {
    background-color: rgba(51, 51, 51, 0.8);
}

.connect__gallery {
    position: relative;
    max-height: 580px;
    min-height: 580px;
    height: 100%;
}

.connect__gallery__item {
    border: 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.10);
            box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.10);
    overflow: hidden;

    position: absolute;

    background-color: #FFFFFF;

    background-color: var(--white);
}

.connect__gallery__item:nth-child(1) {
    top: 0;
    left: 0;

    width: 358px;
    height: 278px;
}

.connect__gallery__item:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 412px;
    height: 256px;
}

.connect__gallery__item:nth-child(3) {
    bottom: 0;
    left: 0;

    width: 338px;
    height: 242px;
}

.connect__gallery__item-background {
    z-index: 2;
}

.connect__gallery__item-foreground {
    z-index: 3;
}

.connect__gallery__item__image {
    cursor: pointer
}

.connect__input__error {
    display: none;
    font-size: 20px;
    font-size: var(--input);
    color: #e0313e;
}

.footer {
    background-color: #333333;
    background-color: var(--black);
    color: #FFFFFF;
    color: var(--white);
    padding: 16px 0;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__link {
    font-size: 24px;
    font-size: var(--footer-link);
    font-weight: 600;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: #FFFFFF;
    color: var(--white);
    -webkit-text-decoration: none;
    text-decoration: none;
}

.footer__link:hover {
    opacity: .75;
    opacity: var(--hover-opacity);
}

.menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(calc(100% + 1px));
            transform: translateX(calc(100% + 1px));
    background-color: #FFFFFF;
    background-color: var(--white);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-left: 1px solid #333333;
    border-left: 1px solid var(--black);
}

.menu__inner {
    padding: 48px 0;
    height: 100%;
}

.menu__navigation {
    height: 100%;
}

.menu__list {
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu__item {
    width: 100%;
    text-align: center;
    padding: 18px 0;
}

.menu__item:not(:last-child) {
    border-bottom: 1px solid #333333;
    border-bottom: 1px solid var(--black);
}

.menu__link {
    color: #333333;
    color: var(--black);
    font-size: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-weight: 600;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.menu-active {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
}

.gallery-dialog {
    border: 0;
    margin:  auto;
    background-color: transparent;
}


.gallery-dialog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
}

.gallery-dialog__button {
    width: 36px;
    height: 36px;
    border: 0;
    background-color: transparent;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: #FFFFFF;
    color: var(--white);
    cursor: pointer;
}

.gallery-dialog__button:hover {
    color: #c0c0c0;
}

.gallery-dialog__content {
    aspect-ratio: 16/9;
    max-width: 880px;
    max-height: 500px;
    width: 100%;
    min-width: 880px;
    height: 100%;
    background-color: #FFFFFF;
    background-color: var(--white);
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);

            box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
}

.splide {
    background-color: transparent;
}

.splide__track {
    max-width: 880px;
    height: 560px;
    /*aspect-ratio: 1/1;*/

    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
            box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
}

.splide__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.splide__pagination__page {
    border: 2px solid #333333;
    border: 2px solid var(--black);
}

.splide__pagination__page.is-active {
    background-color: #333333;
    background-color: var(--black);
}

.splide__arrow {
    background: #333333;
    background: var(--black);
}

.splide__arrow svg {
    color: #FFFFFF;
    color: var(--white);
    fill: currentColor;
}

.splide:not(.is-overflow) .splide__pagination{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-dialog {
    border: 0;
    margin:  auto;
    background-color: transparent;
}


.form-dialog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
}

.form-dialog__content {
    aspect-ratio: 2/1;
    width: 400px;
    height: auto;
    background-color: #FFFFFF;
    background-color: var(--white);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
            box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.10);
    padding: 24px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
}

.form-dialog__image {
    width: 60px;
    height: 60px;
}

.form-dialog__text {
    color: #333333;
    color: var(--black);
    font-size: 28px;
    font-size: var(--modal-form-text);
    font-weight: 700;
    text-align: center;
}